html, body {
  height: 100%;
  width: 100%;
}

.daily-bruin-link {
  font-family: 'Lato', sans-serif;
}
.headline {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 10px;
  min-width: 300px;
  width: 400px;
  border-radius: 3px;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  background-image: url('http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/iStock_000006166025_Small.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 0px;
}

.image-wrap {
  border: 2px solid #eee;
  border-radius: 2px;
  padding: 5px;
}

.image {
    cursor: pointer;
    width: 300px;
    height: 200px;
}

.image:hover {
  opacity: 0.7;
}

#modal-pull-left {
  float: left;
  margin-right: 7px;
}

#modal-pull-right {
  float: right;
  margin-right: 7px;
}

.modal .close {
  margin-right: 5px;
}

.modal .modal-image {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.caption {
  margin: 5px;
  text-align: left;
  font-family: 'Habibi', serif;
}

.content {
  font-family: 'Habibi', serif;
}

#quote-pull-right {
  float: right;
  margin-left: 7px;
  font-family: 'Habibi', serif;
}
.page-credit {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/*iPhone 5 styling*/
@media screen and (min-width: 310px) and (max-width: 570px){
  .headline {
    width: 25%;
    margin: auto;
    font-size: 20px;
  }

  .image {
    width: 250px;
    height: 150px;
    margin: 5px 5px;
  }

}
